@import 'vars';

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  font-size: 14px;
  margin: 0;
  color: $text-color;
  font-family: $font-stack;
  height: 100%;
}

.content {
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 30px;
}
